{% include 'navbar.html' %}
{% set messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  {% for cat, msg in messages %}
    {% if cat == 'error' %}
      <div class="alert alert-danger">{{ msg }}</div>
    {% else %}
      <div class="alert alert-success">{{ msg }}</div>
    {% endif %}
  {% endfor %}
{% endif %}

<form action="" method="post" id="login-form" novalidate>
    <div class="rest-bg my-5 py-4 rounded px-3" id="login-rest">
      <h3>LOGIN</h3>
      {{ restaurant.csrf_token() }}
      <div class="mb-3">
        {{restaurant.email.label}}<br>
         {{restaurant.email(class_='form-control',id='rest-password')}}
         {% if restaurant.email.errors %}
            {% for error in restaurant.email.errors %}
                <span class="text-danger">{{error}}</span>
            {% endfor %}
        {% endif %}
      </div>
      <div class="mb-3">
        <!-- <label for="password">Password</label>
        <input type="password" class="form-control" id="password" /> -->
        {{restaurant.password.label}}
        {{restaurant.password(class_='form-control')}}
        {% if restaurant.password.errors %}
            {% for error in restaurant.password.errors %}
                <span class="text-danger">{{error}}</span>
            {% endfor %}
        {% endif %}
      </div>
      <div class="mb-3 col-md-5">
        <!-- <button class="col-12 btn btn-success">Login</button> -->
         {{restaurant.submit(class_='col-12 btn btn-success')}}
      </div>
    </div>
  </form>

{% include 'footer.html' %}