{% include "navbar.html" %}

    <main class="container-fluid">
      <header class="row hero-img">
        <div
          class="col-md inner d-flex flex-column align-items-center justify-content-center text-light w-30"
        >
          <h2>Connecting Fresh Farm Produce Directly to Restaurants</h2>
          <button class="btn btn-success btn-lg">Explore Fresh Produce</button>
        </div>
      </header>
      <article class="row analytics justify-content-center me-5">
        <div class="card bg-light col-9 col-md-2">
          <h4 class="counter" data-count="300">0</h4>
          <p>Farmers</p>
        </div>
        <div class="card bg-light col-9 my-4 my-md-0 col-md-2 mx-5">
          <h4 class="counter" data-count="700">0</h4>
          <p>Happy Customers</p>
        </div>
        <div class="card bg-light col-9 col-md-2">
          <h4 class="counter" data-count="200">0</h4>
          <hp>Registered Logistic Services</hp>
        </div>
      </article>
      <section class="row mt-5 flex-column align-items-center">
        <div class="col-md-5">
          <h2>From the farm to your doorstep</h2>
        </div>
      </section>
      <section class="row">
        <div class="col-md-4 my-md-5">
          <img
            src="static/assets/images/fruits-veggies.png"
            alt="fruit and vegetables"
            class="img-fluid"
          />
          <h3>Fruits And Vegetables</h3>
          <p class="text-success">SHOP NOW</p>
        </div>
        <div class="col-md-4 my-md-5">
          <img
            src="static/assets/images/yam-plantain.png"
            alt="yam and plantain"
            class="img-fluid"
          />
          <h3>Barn Products</h3>
          <p class="text-success">SHOP NOW</p>
        </div>
        <div class="col-md-4 my-md-5">
          <img
            src="static/assets/images/yam-plantain.png"
            alt="yam and plantain"
            class="img-fluid"
          />
          <h3>Barn Products</h3>
          <p class="text-success">SHOP NOW</p>
        </div>
      </section>
      <section class="row my-5 justify-content-center">
        <div class="col-md-8 mt-md-5 text-center">
          <h2>How does HarvestHub Work</h2>
        </div>
      </section>
      <section class="row justify-content-center">
        <aside class="col-md-2 d-flex flex-column align-items-center me-md-5">
          <i class="fa-solid fa-right-to-bracket"></i>
          <p class="ver-border d-none d-md-block mt-2"></p>
        </aside>
        <aside class="col-md-4 ms-md-5">
          <h3>Sign Up</h3>
          <p class="mt-2">
            Easily crate an account with our fast and intuitive interface and
            get right into shopping
          </p>
        </aside>
      </section>
      <section class="row justify-content-center my-3">
        <aside class="col-2 d-flex flex-column align-items-center me-md-5">
          <i class="fa-solid fa-check"></i>
          <p class="d-none d-md-block ver1-border"></p>
        </aside>
        <aside class="col-md-4 ms-md-5">
          <h3>Choose products</h3>
          <p class="mt-2">
            Select the products you would like to order and send it to your
            shopping Cart
          </p>
        </aside>
      </section>
      <section class="row justify-content-center">
        <aside class="col-2 d-flex flex-column align-items-center me-md-5">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="ver2-border d-none d-md-block"></p>
        </aside>
        <aside class="col-md-4 ms-md-5">
          <h3>Delivery</h3>
          <p class="mt-2">We will deliver to you in less than an hour</p>
        </aside>
      </section>
      <!-- <div class="row mb-5">
        <div class="col-md-5 my-4">
          
        </div>
      </div> -->
      <section class="row justify-content-around my-5 slanted-border">
        <h4 class="my-5 text-light">Some Of Our Amazing Deals</h4>
        <div class="col-md-3 col-lg-2 my-5">
          <div class="card">
            <img
              src="static/assets/images/tomato.jpg"
              class="card-img-top"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Fresh Tomatoes</h5>
              <p class="price">₦500</p>
              <button class="btn cta_btn">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-lg-2 my-5">
          <div class="card">
            <img
              src="static/assets/images/tomato.jpg"
              class="card-img-top"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Fresh Tomatoes</h5>
              <p class="price">₦500</p>
              <button class="btn cta_btn">Add to Cart</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2 my-5">
          <div class="card">
            <img
              src="static/assets/images/tomato.jpg"
              class="card-img-top"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Fresh Tomatoes</h5>
              <p class="price">₦500</p>
              <button class="btn cta_btn">Add to Cart</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2 my-5">
          <div class="card">
            <img
              src="static/assets/images/tomato.jpg"
              class="card-img-top"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Fresh Tomatoes</h5>
              <p class="price">₦500</p>
              <button class="btn cta_btn">Add to Cart</button>
            </div>
          </div>
        </div>
      </section>
      <section class="row my-5">
        <div class="col-md my-md-5 d-flex flex-column align-items-center">
          <h1 class="my-md-5">What sets us apart ?</h1>
        </div>
      </section>
      <section class="row justify-content-around">
        <div class="col-md-3">
          <img
            src="static/assets/images/farm_apple.gif"
            alt="a hand getting an apple"
            class="img-fluid"
          />
          <h4>Freshly Harvested Today, Delivered Tomorrow</h4>
          <p>
            Fresh, local foodstuffs like rice, yam, and eggs delivered fast to
            your doorstep nutrient packed and free from storage delays.
          </p>
        </div>
        <div class="col-md-3">
          <img
            src="static/assets/images/foodstuff.gif"
            alt="foodstuff"
            class="img-fluid"
          />
          <h4>No be your regular delivery</h4>
          <p>
            Shop fresh and affordable produce directly from farmers, ensuring
            fair prices for both you and them, with doorstep delivery you can
            trust.
          </p>
        </div>
        <div class="col-md-3">
          <img
            src="static/assets/images/fruits.gif"
            alt="foodstuff"
            class="img-fluid"
          />
          <h4>Your Must-Haves, Always Ready</h4>
          <p>
            Enjoy set-and-forget convenience. Subscribe to our farm boxes plan
            and weekly grocery staples on your schedule.
          </p>
        </div>
      </section>
    </main>
    <section class="container my-4">
      <div class="row design justify-content-center align-items-center">
        <div class="col-md-7 text-light inner-design text-center">
          <h2>Subscribe to our exciting farm boxes</h2>
          <p>
            We have made affordable boxes you can subscribe and have it
            delivered to your doorstep every month
          </p>
          <button class="btn btn-success btn-lg">Subscribe Now</button>
        </div>
      </div>
    </section>
    <section
      class="container-fluid row reviews justify-content-md-end mt-4 my-3"
    >
    </section>
    <section class="container-fluid reviews">
      <div class="row"></div>
      <div class="row justify-content-around">
        <div class="col-md-3 my-5 bg-light border border-secondary rounded">
          <!-- Add d-flex and justify-content-center here -->
          <div class="d-flex justify-content-center">
            <div class="col-md-3 my-3">
              <img
                src="static/assets/images/reviews/farm-e.jpg"
                alt="an image of a farmer"
                class="rounded-circle img-fluid"
              />
            </div>
          </div>
          <p class="my-4 text-dark text-center">@reviewer_name</p>
          <p class="text-dark">
            "I’ve been using Farm to People for over 2 years now. I love the
            fact that the produce is sourced locally, which reduces travel time,
            waste, and emissions. It’s also a great way to support local farms &
            farmers."
          </p>
        </div>
        <div class="col-md-3 my-5 bg-light border border-secondary rounded">
          <!-- Add d-flex and justify-content-center here -->
          <div class="d-flex justify-content-center">
            <div class="col-md-3 my-3">
              <img
                src="static/assets/images/reviews/farm-e.jpg"
                alt="an image of a farmer"
                class="rounded-circle img-fluid"
              />
            </div>
          </div>
          <p class="my-4 text-dark text-center">@reviewer_name</p>
          <p class="text-dark">
            "I’ve been using Farm to People for over 2 years now. I love the
            fact that the produce is sourced locally, which reduces travel time,
            waste, and emissions. It’s also a great way to support local farms &
            farmers."
          </p>
        </div>
        <div class="col-md-3 my-5 bg-light border border-secondary rounded">
          <!-- Add d-flex and justify-content-center here -->
          <div class="d-flex justify-content-center">
            <div class="col-md-3 my-3">
              <img
                src="static/assets/images/reviews/farm-e.jpg"
                alt="an image of a farmer"
                class="rounded-circle img-fluid"
              />
            </div>
          </div>
          <p class="my-4 text-dark text-center">@reviewer_name</p>
          <p class="text-dark">
            "I’ve been using Farm to People for over 2 years now. I love the
            fact that the produce is sourced locally, which reduces travel time,
            waste, and emissions. It’s also a great way to support local farms &
            farmers."
          </p>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}